header {
    padding: 10px 30px;
    background-color: darkgreen;
}
/* header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px 30px;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color:darkgreen;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    padding-bottom: 0px;
    text-align: center;
} */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: small;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar-nav .navbar-brand .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-nav .navbar-brand .nav-link {
    color: #FFFFFF;
}
.navbar-brand, .navbar-text, .nav-link {
    color:white;
} 

.navbar-nav, .navbar-brand:focus, .navbar-brand:hover, .nav-link:focus, .navbar-nav, .nav-link:hover {
    color: #ccc !important;
}


.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}
.nav {
    font-size: 1.0em;
    font-family: 'Rubik', sans-serif;
}

.container {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.control-label {
    visibility: hidden;
}

.delete-button {
    padding: 5px;
    float: right;
    margin: 0;
}

.add-cash-button {
    padding: 5px;
    float: left;
    margin: 0;
}


.btn-default {
    color: rgba(1, 16, 224, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(1, 16, 224, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

body {
    background-color: slategray;
}