{% extends "layout.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Home
{% endblock %}


{% block page_content %}
<main class="container main-content">
  {% if current_user.is_authenticated %}
  <div class="row justify-content-center">
    <section class="card col-sm card text-center m-1 unbudgeted-card" id="budget-amount">
      <div class="card-body text-center">
        <h3 class="card-title">Unbudgeted Amount:</h3>
        <p>
          <button type="button" class="btn btn-primary amount-button unbudgeted-amount" id="unbudgeted-amount" data-toggle="modal" data-inflow="true" data-target="#add-transaction-modal"></button>
        </p>
      </div>
    </section>
  </div>
  <section class="container-fluid" id="container-envelopes">
    <div class="row justify-content-center" id="envelopes">
      <!-- Dynamically generated categories -->
      <article class="card bg-light col-md-3 col-sm-6 m-2" id="add-category-card">
        <div class="card-body text-center">
          <h4 class="card-title">Add Category</h4>
          <div class="form-group">
            <input type="text" class="form-control new-category" required type="text" placeholder="Name" id="new-category-name">
            <button type="button" class="btn btn-outline-dark" id="add-category-button">Submit</button>
          </div>
        </div>
      </article>

  </section>
  <section class="modal fade" id="add-cash-modal" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title">Add/Remove Cash</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control" placeholder="Amount" id="add-cash-amount" required type="text">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark" id="add-cash-button" data-dismiss="modal">Submit</button>
          <input type="hidden" id="modal-category" name="category">
        </div>
      </div>
    </div>
  </section>

  <section class="modal fade" id="add-transaction-modal" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title">Add Transaction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <form action="{{ url_for('main.api_add_transaction') }}" method="post">
            <div class="modal-body">
              <input type="hidden" id="transaction-category" name="category">
              <div class='pill-input'>
                <input class="form-control" placeholder="Amount" id="transaction-amount">
                <input class="form-control" id="transaction-payee" required type="text" list="payee-list">
                  <datalist id="payee-list">
                    <!-- Dynamically generated -->
                  </datalist>
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit-transaction">Submit</button>
            </div>
          </form>
      </div>
    </div>
  </section>
 
  {% else %}
    <section class="container-fluid" id=>
      <h1>TODO: Redirect to register</h1>
    </section>
  {% endif %}
  </main>
  {% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{  url_for('static', filename='scripts/budget.js')  }}"></script>
{% endblock %}