{% extends "layout.html" %}
{% import "bootstrap/form.html" as wtf %}

  {% block scripts %}
  super()
  <script>
  $(document).ready(function(){
    $(".toggle").on("click", function() {
      const $moveCashForm = $(this).closest('.category').find('.move-cash');
      const $addCashForm = $(this).closest('.category').find('.add-cash');
      if ($moveCashForm.hasClass('hidden')) {
        $moveCashForm.removeClass('hidden');
        $addCashForm.addClass('hidden');
      } else {
        $addCashForm.removeClass('hidden');
        $moveCashForm.addClass('hidden');
      }
      console.log($(this).closest('#category').find('#move-cash'));
      
    });
  });
  </script>
  {% endblock %}


{% block styles %}
  {{ super()}}
  <style>
    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }
    .control-label {
      visibility: hidden;
    }
    .jumbotron {
      font-family: 'Open Sans', sans-serif;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .delete-button {
      padding: 5px;
      float: right;
      margin: 0;
    }

    .add-cash-button {
      padding: 5px;
      float: left;
      margin: 0;
    }


    .btn-default {
      color: rgba(1, 16, 224, 0.75);
      letter-spacing: 1px;
      line-height: 15px;
      border: 2px solid rgba(1, 16, 224, 0.75);
      border-radius: 40px;
      background: transparent;
      transition: all 0.3s ease 0s;
      margin-bottom: 10px;
    }

    .hidden {
      display: none;
    }
     
  </style>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="container-fluid padding">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-center">Budget</h1>
        <hr class="my-4">
        <p class="lead text-center">Unbudgeted Amount:</p>
        <p class="lead text-center">{{ format(unbudgeted_amount) }}</p>
      </div>
    </div>
      <div id="cards">
        <div class="row padding">
        {% for category in categories %}
          <div class="col-md-4 col-sm-6">
            <div class="card border-secondary mb-3 text-center category">
              <img class="card-img-top" src="{{ url_for('static', filename = 'envelope.jpg') }}">
              <div class="card-body">
                <h4 class="card-title" name="{{ category.id }}">{{ category.name }}</h4>
                  <button type="button" class="btn btn-default toggle">{{ format(category.amount) }}</button>
                  <div class="add-cash">
                    <form action="" method="post" class="form" role="form">
                      {{ add_to_category_form.csrf_token() }}
                      {{ add_to_category_form.category_id(value=category.category_id) }}
                      {{ wtf.render_field(add_to_category_form.amount) }}
                      <div class="add-cash-button">
                        {{ add_to_category_form.submit(class_="btn btn-primary") }}
                      </div>
                    </form>
                    <form action="" method="post" class="form" role="form">
                      <div class="delete-button">
                        {{ delete_category_form.csrf_token() }}
                        {{ delete_category_form.category_id(value=category.category_id) }}
                        {{ delete_category_form.delete(class_="btn btn-danger") }}
                      </div>
                    </form>
                  </div>
                  <form action="" method="post" class="form hidden move-cash" role="form">
                    {{ move_to_category_form.csrf_token() }}
                    {{ move_to_category_form.from_category_id(value=category.category_id) }}
                    {{ wtf.render_form(move_to_category_form) }}
                  </form>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="col-md-3 col-sm-6">
          <div class="card border-primary mb-3 text-center">
            <img class="card-img-top" src="{{ url_for('static', filename = 'envelope.jpg') }}">
            <div class="card-body">
              <h4 class="card-title">Add Category</h4>
              <p class="card-text">
                <form action="" method="post" class="form" role="form">
                  {{ add_category_form.csrf_token() }}
                  <td>{{ wtf.render_field(add_category_form.category_name) }}</td>
                  {{ add_category_form.submit(class_="btn btn-primary") }}
              </form>
              </p>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  {% else %}
  <h1>TODO: Redirect to register</h1>
  {% endif %}
  {% endblock %}




