{% extends "base.html" %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5e9a937f95.js" crossorigin="anonymous"></script>
{% endblock %}


{% block title %}eNvelopes{% endblock %}

{% block content %}
<div class="layout-content">
    <header class="d-flex justify-content-between align-items-center">
        <div>
            <a class="navbar-brand" id="logo" href="{{ url_for('main.index') }}">Envelopes<span>*</span></a>
        </div>
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}" height=100px>
        <nav class="flex-sm-columns navbar-expand-md navbar-expand-lg navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.howto') }}">How To</a></a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Budget</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.transactions') }}">Transactions</a></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {{ url_for('auth.logout') }}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href=" {{ url_for('auth.login') }}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {{ url_for('auth.register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid layout">
        {% block page_content %} {% endblock %}
    </div>
    <footer>
        © Envelopes - 2020
    </footer>
</div>
{% endblock %}

