{% extends "layout.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block title %}
    Transactions
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .transaction-column {
        display: table-cell;
        list-style: none;
        padding: 5px;
        width: fit-content;
    }

    .transaction-columns {
        padding: 0;
    }
    .table-row {
        display:table-row;
        padding: 0;
    }
</style>
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<main class='container padding'>
    <table class="table table-sm text-center bg-light">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Payee</th>
                <th scope="col">Amount</th>
                <!-- <th scope="col">Inflow/Outflow</th> -->
                <th scope="col">Time</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="transactions-body">
            <!-- Dynamically generated table -->
        </tbody>
    </table>

    <!-- Table row approach
    <section class="container transactions">
        <ul class="list-group">
            <li class="list-group-item table-row">
                <ul class="transaction-columns">
                    <li class="transaction-column">Category</li>
                    <li class="transaction-column">Payee</li>
                </ul>
            </li>
            <li class="list-group-item table-row">
                <ul class="transaction-columns">
                    <li class="transaction-column">TESTETSTEST</li>
                    <li class="transaction-column">TESTSETETSETE</li>
                </ul>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </section> -->
</main>
{% else %}
<h1>TODO: Redirect to register</h1>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{  url_for('static', filename='scripts/transactions.js')  }}"></script>
{% endblock %}