{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super()}}
  <style>
    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    } 
  </style>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="container-fluid padding">
    <div class="page-header text-center">
        <h1>Budget</h1>
    </div>

    <div clas="container-fluid padding">
      <div class="row padding">
      {% for category in categories %}
        <div class="col-md-3">
          <div class="card border-primary mb-3 text-center">
            <img class="card-img-top" src="{{ url_for('static', filename = 'envelope.jpg') }}">
            <div class="card-body">
              <h4 class="card-title">{{ category.name }}</h4>
              <p class="card-text">STUFF</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="col-md-3">
        <div class="card border-primary mb-3 text-center">
          <img class="card-img-top" src="{{ url_for('static', filename = 'envelope.jpg') }}">
          <div class="card-body">
            <h4 class="card-title">Add Category</h4>
            <p class="card-text">{{ wtf.quick_form(form)}}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    
</div>
{% else %}
<h1>TODO: Redirect to register</h1>
{% endif %}
{% endblock %}