{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="container">
    <div class="page-header">
        <h1>Hello</h1>
    </div>

    <div class="row">
    {% for category in categories %}

    <div class="col-sm-6 col-lg-4">
        <div class="card" style="max-width: 18rem;">
          <div class="card-header bg-behance content-center">
            <i class="fab fa-behance icon text-white my-4 display-4"></i>
          </div>
          <div class="card-body row text-center">
            <div class="col">
              <div class="text-value-xl">89k</div>
              <div class="text-uppercase text-muted small">friends</div>
            </div>
            <div class="vr"></div>
            <div class="col">
              <div class="text-value-xl">459</div>
              <div class="text-uppercase text-muted small">feeds</div>
            </div>
          </div>
        </div>
      </div> 
      {% endfor %}
    </div>
    
</div>
{% else %}
<h1>TODO: Redirect to register</h1>
{% endif %}
{% endblock %}