{% extends "layout.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block styles %}
    {{ super() }} 
    <style>
        .control-label {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    Transactions
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="container-fluid padding">
    <div class="page-header text-center">
        <h1>Transactions</h1>
    </div>

    <div clas="container-fluid padding">
      <div class="row padding">
        <table class = "table">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Payee</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Inflow/Outflow</th>
                    <th scope="col">Time</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="" method="post" class="form" role="form">
                        {{ add_transaction_form.csrf_token() }}
                        <td>{{ wtf.render_field(add_transaction_form.category) }}</td>
                        <td>{{ wtf.render_field(add_transaction_form.payee) }}</td>
                        <td>{{ wtf.render_field(add_transaction_form.amount) }}</td>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td><button type="submit" name="submit" class="btn btn-primary" value="add_transaction">Add Transaction</button></td>
                    </form>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <form action="" method="post" class="form" role="form">
                        {{ delete_transaction_form.csrf_token() }}
                        <!-- Make sure to implement deletes in the db as delete category, else indexing will be impacted -->
                        <!-- Use a dictionary to cary category name/id association -->
                        <td>{{ category_dict[transaction.category_id] }}</td>
                        <td>{{ transaction.payee_id }}</td>
                        {% if category_dict[transaction.category_id] == 'Inflow' %}
                            <td>{{ format(transaction.amount * -1) }}</td>
                        {% else %}
                            <td>{{ format(transaction.amount) }}</td>
                        {% endif %}
                        {% if transaction.inflow == 1 %}
                            <td style="color: green">Inflow</td>
                        {% else %}
                            <td style="color: red">Outflow</td>
                        {% endif %}
                        <td>{{ transaction.timestamp }}</td>
                        <!-- Hidden field to store transaction id -->
                        {{ delete_transaction_form.transaction_id(value=transaction.trans_id) }}
                        {{ delete_transaction_form.category_id(value=transaction.category_id) }}
                        {{ delete_transaction_form.transaction_amount(value=transaction.amount) }}
                        <td><button type="submit" name="submit" class="btn btn-danger" value="delete_transaction">Delete</button></td>
                    </form>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
      </div>
    </div>
    
</div>
{% else %}
<h1>TODO: Redirect to register</h1>
{% endif %}
{% endblock %}